.internal-content
  h1 What is
    em  News Scraper
    | ?

  p
    em News Scraper
    |  is a selective news source.

  p It gathers news stories from 6 different news networks, analyzes each story's sentiment value using a bag of words model, and gives you positive or negative news, depending on which you choose.

  p The lexicon used can be found
    a(href="http://www.cs.uic.edu/~liub/FBS/sentiment-analysis.html")  here
    | .
