.internal-content
  h1 Or not -

  p Check out negative news stories with respective rank from each news source below.

  .link-list
    ul
      li: a(href="/news/hp/page/1/neg") Huffington Post
      li: a(href="/news/cnn/page/1/neg") CNN
      li: a(href="/news/npr/page/1/neg") NPR
      li: a(href="/news/aj/page/1/neg") Al Jazeera
      li: a(href="/news/fn/page/1/neg") Fox News
      li: a(href="/news/nyt/page/1/neg") New York Times
