footer
  if(source)
    .navigator
      ul
        if page > 1
          li: a(href="/news/"+reqsrc+"/page/"+(page*1 - 1)+"/"+mood) back
        li: a(href="/news/"+reqsrc+"/page/"+(page*1 + 1)+"/"+mood)    next
  pre
    |      /   __/     /   __/     /   __/     /   __/     /   __/     /   _
    | __   \__/  \__   \__/  \__   \__/  \__   \__/  \__   \__/  \__   \__/
    |   \__/  \     \__/  \     \__/  \     \__/  \     \__/  \     \__/  \
    | __/     /   __/     /   __/     /   __/     /   __/     /   __/     /
    |   \__   \__/  \__   \__/  \__   \__/  \__   \__/  \__   \__/  \__   \_
    |      \__/  \     \__/  \     \__/  \     \__/  \     \__/  \     \__/
    |    __/     /   __/     /   __/     /   __/     /   __/     /   __/
    | __/  \__   \__/  \__   \__/  \__   \__/  \__   \__/  \__   \__/  \__
    |   \     \__/  \     \__/  \     \__/  \     \__/  \     \__/  \     \_
    |   /   __/     /   __/     /   __/     /   __/     /   __/     /   __/
    |   \__/  \__   \__/  \__   \__/  \__   \__/  \__   \__/  \__   \__/  \_
    | __/  \     \__/  \     \__/  \     \__/  \     \__/  \     \__/  \
    |      /   __/     /   __/     /   __/     /   __/     /   __/     /   _
    | __   \__/  \__   \__/  \__   \__/  \__   \__/  \__   \__/  \__   \__/
    |   \__/  \     \__/  \     \__/  \     \__/  \     \__/  \     \__/  \
    | __/     /   __/     /   __/     /   __/     /   __/     /   __/     /
    |   \__   \__/  \__   \__/  \__   \__/  \__   \__/  \__   \__/  \__   \_
    |      \__/  \     \__/  \     \__/  \     \__/  \     \__/  \     \__/
    |    __/     /   __/     /   __/     /   __/     /   __/     /   __/
    | __/  \__   \__/  \__   \__/  \__   \__/  \__   \__/  \__   \__/  \__
    |   \     \__/  \     \__/  \     \__/  \     \__/  \     \__/  \     \_
    |   /   __/     /   __/     /   __/     /   __/     /   __/     /   __/
    |   \__/  \__   \__/  \__   \__/  \__   \__/  \__   \__/  \__   \__/  \_
  .disclaimer
    p The articles used and the content therein are the property of each of their respective news sources and are presented here for personal use only.
