header
  a(href="https://github.com/calebgregory/entities")
    img(style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png")
  a.home(href="/")
    pre
      |                _   _   U _____ u              ____
      |               | \ |"|  \| ___"|/__        __ / __"| u
      |              <|  \| |>  |  _|"  \"\      /"/<\___ \/
      |              U| |\  |u  | |___  /\ \ /\ / /\ u___) |
      |               |_| \_|   |_____|U  \ V  V /  U|____/>>
      |               ||   \\,-.<<   >>.-,_\ /\ /_,-. )(  (__)
      |               (_")  (_/(__) (__)\_)-'  '-(_/ (__)
      |   ____      ____    ____        _       ____   U _____ u   ____
      |  / __"| uU /"___|U |  _"\ u U  /"\  u U|  _"\ u\| ___"|/U |  _"\ u
      | <\___ \/ \| | u   \| |_) |/  \/ _ \/  \| |_) |/ |  _|"   \| |_) |/
      |  u___) |  | |/__   |  _ <    / ___ \   |  __/   | |___    |  _ <
      |  |____/>>  \____|  |_| \_\  /_/   \_\  |_|      |_____|   |_| \_\
      |   )(  (__)_// \\   //   \\_  \\    >>  ||>>_    <<   >>   //   \\_
      |  (__)    (__)(__) (__)  (__)(__)  (__)(__)__)  (__) (__) (__)  (__)
